.env
.env.*
!.env.example
!.env.docker.example
.git
.gitignore
db_backup
node_modules
vendor
storage/framework
storage/logs
bootstrap/cache/*.php
public/build
deploy
scripts
start-nms-linux.sh
start-nms.bat
stop-nms.bat
